<div class="container">

    <div class="col-12 bordas">

        <div class="row" style="margin-top:-10px;">

            <div class="col-6">
                <div class="row">
                    <div class="col-12" style="height: 140px; overflow:auto;"> <!-- Ataques de combate -->
                        <table>
                            <tr>
                                <th class="mediaeval" style="text-align: left;width:120px;">Arma</th>
                                <th class="mediaeval">Alcan.</th>
                                <th class="mediaeval">L</th>
                                <th class="mediaeval">M</th>
                                <th class="mediaeval">P</th>
                                <th class="mediaeval">100</th>
                                <th class="mediaeval">75</th>
                                <th class="mediaeval">50</th>
                                <th class="mediaeval">25</th>
                                <th class="mediaeval">Editar</th>
                            </tr>
                            {{#each actor.combate as |combate|}}
                                <tr class="item" data-item-id="{{combate.id}}">
                                    <td class="mediaeval" style="text-align: left;"><a class="rollable dragable" data-item-id="{{combate.id}}">{{combate.name}}</a></td>
                                    <td class="mediaeval" style="text-align: center;">{{combate.system.alcance}}</td>
                                    <td class="mediaeval" style="text-align: center;">{{soma combate.system.def_l combate.system.custo combate.system.bonus_magico combate.system.nivel}}</td>
                                    <td class="mediaeval" style="text-align: center;">{{soma combate.system.def_m combate.system.custo combate.system.bonus_magico combate.system.nivel}}</td>
                                    <td class="mediaeval" style="text-align: center;">{{soma combate.system.def_p combate.system.custo combate.system.bonus_magico combate.system.nivel}}</td>
                                    <td class="mediaeval" style='text-align:center;'>{{combate.system.dano.d100}}</td>
                                    <td class="mediaeval" style='text-align:center;'>{{combate.system.dano.d75}}</td>
                                    <td class="mediaeval" style='text-align:center;'>{{combate.system.dano.d50}}</td>
                                    <td class="mediaeval" style='text-align:center;'>{{combate.system.dano.d25}}</td>
                                    <td style="text-align: center;">
                                        <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
                <div class="row">                                 <!-- Grupo de Armas -->
                    <table style="border: 2px solid gray;" class="grup_armas">
                        <caption class="mediaeval">Grupo de Armas</caption>
                        <tr>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CD</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CI</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CL</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CLD</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">EL</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CmE</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CmM</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">EM</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">PmA</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">PpA</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">PpB</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">PmL</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CpE</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">CpM</th>
                            <th class="mediaeval" style="border-width:0;border-right-width:1px;border-right-style:solid;border-right-color:gray;">EP</th>
                            <th class="mediaeval" style="border-width:0;">PP</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name="system.grupos.CD" value="{{ data.system.grupos.CD }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CI" value="{{ data.system.grupos.CI }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CL" value="{{ data.system.grupos.CL }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CLD" value="{{ data.system.grupos.CLD }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.EL" value="{{ data.system.grupos.EL }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CmE" value="{{ data.system.grupos.CmE }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CmM" value="{{ data.system.grupos.CmM }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.EM" value="{{ data.system.grupos.EM }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.PmA" value="{{ data.system.grupos.PmA }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.PpA" value="{{ data.system.grupos.PpA }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.PpB" value="{{ data.system.grupos.PpB }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.PmL" value="{{ data.system.grupos.PmL }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CpE" value="{{ data.system.grupos.CpE }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.CpM" value="{{ data.system.grupos.CpM }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.EP" value="{{ data.system.grupos.EP }}"/>
                            </td>
                            <td>
                                <input type="number" name="system.grupos.PP" value="{{ data.system.grupos.PP }}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-2">

                <div class="row">
                    <div class="col-6" >               <!-- EF -->
                        <table>
                            <caption class="mediaeval">EF</caption>
                            <tr style="border-width: 0;">
                                <td style="border-width: 0;">
                                    <input type="number" style="width: 50px;text-align:center;" name="system.ef.value" value="{{ data.system.ef.value }}"/>
                                </td>
                            </tr>
                            <tr style="border-width: 0;">
                                <td style="border-width: 0;">
                                    <input type="number" style="width: 50px;height:80px;text-align:center;" name="system.ef.max" value="{{ data.system.ef.max }}" readonly/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-6">                 <!-- EH -->
                        <table>
                            <caption class="mediaeval">EH</caption>
                            <tr style="border-width: 0;">
                                <td style="border-width: 0;">
                                    <input type="number" style="width: 50px;text-align:center;" name="system.eh.value" value="{{ data.system.eh.value }}"/>
                                </td>
                            </tr>
                            <tr style="border-width: 0;">
                                <td style="border-width: 0;">
                                    <input type="number" style="width: 50px;height:80px;text-align:center;" name="system.eh.max" value="{{ data.system.eh.max }}" readonly/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="row" style="margin-bottom: -15px;">                 <!-- Defesa -->
                    <div class="col-12">
                        <h2 style="text-align: center;border-bottom-width:0;">Defesa</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">          <!-- Defesa Ativa -->
                        <table style="border: 2px solid gray;width:50px;">
                            <tr>
                                <th class="mediaeval" style="border-color:gray;">Ativa</th>
                            </tr>
                            <tr>
                                <td class="mediaeval" style="text-align: center;">{{data.system.d_ativa.categoria}} {{data.system.d_ativa.valor}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6">             <!-- Defesa Passiva -->
                        <table style="border: 2px solid gray;width:50px;">
                            <tr>
                                <th class="mediaeval" style="border-color:gray;">Passiva</th>
                            </tr>
                            <tr>
                                <td class="mediaeval" style="text-align: center;">{{data.system.d_passiva.categoria}} {{data.system.d_passiva.valor}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            

            <div class="col-4">                                             <!-- Técnicas de Combate -->
                <div class="row">
                    <div class="col-12" style="height: 220px; overflow:auto;">
                        <table>
                            <tr>
                                <th class="mediaeval" style="text-align: left;">Técnicas de Combate</th>
                                <th class="mediaeval">Nível</th>
                                <th class="mediaeval">Total</th>
                                <th class="mediaeval">Editar</th>
                            </tr>
                            {{#each actor.tecnicas as |tecnica|}}
                                <tr class="item" data-item-id="{{tecnica.id}}">
                                    <td class="mediaeval"><a class="rollable dragable" data-item-id="{{tecnica.id}}">{{ tecnica.name }}</a></td>
                                    <td class="mediaeval" style="text-align: center;">{{ tecnica.system.nivel }}</td>
                                    <td class="mediaeval" style="text-align: center;">{{ tecnica.system.total }}</td>
                                    <td style="text-align: center;">
                                        <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>