<div class="container">

        <div class="col-12 bordas" style="height: 360px;overflow:auto;">
            <h2>Habilidades</h2>
            <div class="row">
                <div class="col-4" style="text-align: right;">
                    <h4 class="mediaeval">Habilidade Nata(<span style="color: gray;">{{actor.profissao.data.data.hab_nata}}</span>):</h4>
                </div>
                <div class="col-3">
                    <select class="mediaeval" name="data.hab_nata" type="text" data-dtype="String" value="{{data.data.hab_nata}}" height="30" title="Selecione sua Habilidade Nata."/>
                        {{#select data.data.hab_nata}}
                            <option value=""></option>
                            {{#each actor.h_prof as |h_prof|}}
                                <option value="{{h_prof.name}}">{{h_prof.name}}</option>
                            {{/each}}
                            {{#each actor.h_man as |h_man|}}
                                <option value="{{h_man.name}}">{{h_man.name}}</option>
                            {{/each}}
                            {{#each actor.h_con as |h_con|}}
                                <option value="{{h_con.name}}">{{h_con.name}}</option>
                            {{/each}}
                            {{#each actor.h_sub as |h_sub|}}
                                <option value="{{h_sub.name}}">{{h_sub.name}}</option>
                            {{/each}}
                            {{#each actor.h_inf as |h_inf|}}
                                <option value="{{h_inf.name}}">{{h_inf.name}}</option>
                            {{/each}}
                            {{#each actor.h_geral as |h_geral|}}
                                <option value="{{h_geral.name}}">{{h_geral.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="col-2">
                    <a class="idiomas mediaeval" title="Selecione os idiomas de seu Personagem"><i class="fas fa-language"></i> Idiomas</a>
                </div>
                <div class="col-2" style="text-align: right;">
                    <h4 class="mediaeval">Bônus/Penalidade:</h4>
                </div>
                <div class="col-1">
                    <input name="data.bonus_habil" type="number" value="{{data.data.bonus_habil}}" height="30" title="Bônus/Penalidade será aplicado a todas as habilidades.(Nenhum valor, preencher zero)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <!-- Profissional -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Profissional</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_prof as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
                <div class="col-4"> <!-- Manobra -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Manobra</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_man as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
                <div class="col-4"> <!-- Conhecimento -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Conhecimento</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_con as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
            </div>
            <div class="row">
                <div class="col-4"> <!-- Subterfúgio -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Subterfúgio</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_sub as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
                <div class="col-4"> <!-- Influencia -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Influencia</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_inf as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
                <div class="col-4"> <!-- Geral -->
                    <table>
                        <tr>
                            <th class="mediaeval" style="text-align:left;">Geral</th>
                            <th class="mediaeval">Nível</th>
                            <th class="mediaeval">Total</th>
                            <th class="mediaeval">Editar</th>
                        </tr>
                        {{#each actor.h_geral as |hab|}}
                            <tr data-item-id="{{hab.id}}" class="item">
                                <td class="mediaeval"><a class="dragable rollable" data-item-id="{{ hab.id }}">{{hab.name}}</a></td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.nivel}}</td>
                                <td class="mediaeval" style="text-align: center;">{{hab.data.data.total}}</td>
                                <td style="text-align: center;">
                                    <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
            </div>
        </div>

</div>