<div class="container">
    <div class="col-12">
        <div class="row" style="margin-top:0px;">

            <div class="col-8 bordas" style="height: 250px; overflow:auto;">
                <table>
                    <tr>
                        <th class="mediaeval" style="text-align: left;">Magia</th>
                        <th class="mediaeval">Nível</th>
                        <th class="mediaeval">F.A.</th>
                        <th class="mediaeval">Editar</th>
                    </tr>
                    {{#each actor.magias as |magia|}}
                        <tr class="item" data-item-id="{{magia.id}}">
                            <td class="mediaeval" style="text-align: left;"><a class="rollable dragable" data-item-id="{{magia.id}}">{{ magia.name }}</a></td>
                            <td class="mediaeval" style="text-align: center;">{{ magia.system.nivel }}</td>
                            <td class="mediaeval" style="text-align: center;">{{ fataque magia.system.nivel actor.system.atributos.AUR }}</td>
                            <td style="text-align: center;">
                                <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>

            <div class="col-4">
                
                <div class="row" style="margin-left:20px;">
                    <div class="col-12 bordas">
                        <table style="border-width: 0;">
                            <tr style="border-width: 0;">
                                <th class='mediaeval' style="border-width: 0;text-align:right;">Karma</th>
                                <td style="border-width: 0;text-align:center;">
                                    <input style="width: 60px;border-width:0;" type="number" name="system.karma.value" value="{{ data.system.karma.value }}"/> / <input style="width: 60px;border-width:0;" type="number" name="system.karma.max" value="{{ data.system.karma.max }}" readonly/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-left:20px;">
                    <div class="col-12 bordas" style="height: 180px;">
                        <h2 style="text-align:center;margin-bottom:-10px;">Pontos Acumulados</h2>
                        <div class="row">
                            <table>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Atributos</th>
                                    <td class="mediaeval">{{toFixed data.system.carac_final.INT 1}}</td>
                                </tr>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Habilidades</th>
                                    <td class="mediaeval">{{data.system.pontos_aqui}}</td>
                                </tr>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Combate</th>
                                    <td class="mediaeval">{{data.system.pontos_comb}}</td>
                                </tr>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Técnicas</th>
                                    <td class="mediaeval">{{data.system.pontos_tec}}</td>
                                </tr>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Magias</th>
                                    <td class="mediaeval">{{data.system.pontos_mag}}</td>
                                </tr>
                                <tr>
                                    <th class="mediaeval" style="border-width:1px;">Caracterizações</th>
                                    <td class="mediaeval">{{pontos_carac data.system.estagio}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>