<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="col-12 bordas" style="height: 320px;">
                <h2 style="text-align: center;">Equipamentos de Defesa</h2>
                <div class="row">
                    <div class="col-12">
                        <ul style="list-style-type:none;height: 270px; overflow:auto;margin-top:-5px;">
                            {{#each actor.defesas as |defesa|}}
                                <li class="item" style="margin-left:-1vw;border-bottom-style:solid;border-width:1px;" data-item-id="{{defesa.id}}">{{defesa.name}} <span style="float: right; margin-right:2px;"><a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a></span></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4"> <!-- Imagem do Personagem -->
            <div class="col-12 bordas" style="height: 320px;">
                <h2 style="text-align: center;">Imagem</h2>
                <div class="row">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="border-width: 0;"/>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="col-12 bordas" style="height: 320px;">
                <h2 style="text-align: center;">Transportes</h2>
                <div class="row">
                    <div class="col-12">
                        <ul style="list-style-type:none;height: 270px; overflow:auto;margin-top:-5px;">
                            {{#each actor.transportes as |transporte|}}
                                <li class="item" style="margin-left:-1vw;border-bottom-style:solid;border-width:1px;" data-item-id="{{transporte.id}}">{{transporte.name}} <span style="float: right; margin-right:2px;"><a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a></span></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>